.header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav {
  padding: 10px 0;
}

.reseau{
  display: inline;
  width: 300px;
}

.reseau a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.reseau a img{
  width: 15%;
  height: 15%;
}
